/* You can add global styles to this file, and also import other style files */
/* @import "assets/css/media_query.css";
@import "assets/css/bootstrap.css";
@import "assets/css/font-awesome.min.css";
@import "assets/css/animate.css";
@import "assets/css/poppins.css";
@import "assets/css/owl.carousel.css";
@import "assets/css/owl.theme.default.css";
@import "assets/css/style_1.css"; */